<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/logo.png">
    <title>about</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <div class="main-content">

             {{>headers}}
    <img class="portrait" src="/ing/tolu.jpg">
    <p> This site was created by Tolu, it uses data from mapbox.com and weatherstack.com. <br>
        This Project focuses on the backend development. <br>
    So, Kndly ignore the simple frontend.. smiles</p>

    </div>
    
     {{>footer}}
</body>




</html>