<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/logo.png">
    <title>help</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <div class="main-content">

             {{>headers}}
    <p>{{helpText}}</p>

    </div>

    {{>footer}}
</body>




</html>